<div class="popup" ng-show="popupActive">
    <div class="popup__container">
        <div class="popup__header-wrapper">
            <div class="popup__header">UČLANI SE</div>
            <img ng-click="togglePopup()" src="./images/cross-icon-black.png">
        </div>
        <div class="library__info">
            <div><span>Knjižnica:</span> {{library.name}}</div>
            <div><span>Adresa:</span> {{library.address}}</div>
            <div><span>Ograničenje posuđivanja:</span> <!--{{library.bookLendLimit}}-->4 knjige</div>
            <div><span>Cijena:</span> <!--{{library.membershipPrice}}-->60 kn</div>
        </div>
        <paypal></paypal>
        <div class="library__member">
            <div class="library__member__description">
                Ukoliko ste već član ove knjižnice, upišite svoj broj iskaznice i besplatno digitalizirajte svoje članstvo.
            </div>
            <br/>
            <div ng-hide="isLoggedIn">Molimo da se prvo prijavite.</div>
            <input type="text" ng-model="barcodeNumber">
            <button ng-click="submitBarcode(library)" ng-disabled="!isLoggedIn">POTVRDI</button>
            <br/>
            <br/>
            <div>{{barcodeMessage}}</div>
        </div>
    </div>
</div>

<div class="book-details">
    <div class="homepage__search-bar">
        <input class="search-bar__input" type="text" placeholder="Pretraži..." ng-model="searchQuery" ng-keyup="$event.keyCode == 13 && search()" ng-submit="search()" />
        <a ng-click="search()" class="search-bar__button">
            <img src="./images/search-icon.png" alt="">
        </a>
    </div>
    <div class="book-details__container">
        <div class="book-details__book-bar">
            <div class="book-bar__name">
                {{book.name}}
            </div>
            <div class="book-bar__dash">_____</div>
            <div class="book-bar__author">
                {{book.author}}
            </div>
        </div>
        <div class="book-details__content">
            <h1>INFORMACIJE</h1>
            <div class="book-details__content-wrapper">
                <img ng-src="{{book.imageUrl}}" alt="">
                <div class="book-details__information">
                    <span>Broj dostupnih knjiga:</span> {{numberOfAvailableBooks}}<br>
                    <span>Broj rezerviranih knjiga:</span> {{numberOfReservedBooks}}<br>
                    <span>Nakladnik:</span> {{book.publisher}}<br>
                    <span>Broj stranica:</span> {{book.numOfPages}}<br>
                    <span>Žanr:</span> {{book.categories}}<br>
                    <span>Jezik:</span> {{book.language}}<br>
                    <span>Standardni broj:</span> {{book.isbn}}<br>
                </div>
            </div>
            <h1 class="book-details__content-second-header">OPIS KNJIGE</h1>
            <p>{{book.description}}</p>
            <div class="book-details__reserve">
                <div class="book-details__reserve-wrapper">
                    <div class="reserve__header">MOJE KNJIŽNICE</div>
                    <div class="reserve__warning" ng-show="memberBooks.length == 0 && isLoggedIn">Ova knjiga nije dostupna u nijednoj knjižnici u kojoj ste učlanjeni.</div>
                    <div class="reserve__warning" ng-hide="isLoggedIn">Prijavite se da biste vidjeli knjige iz učlanjenih knjižnica</div>
                    <div class="reserve__library" ng-repeat="book in memberBooks">
                        <div class="library__name">{{book.localLibrary.name}}</div>
                        <div class="library__book-status">{{book.returnDeadline | convertBookStatusPartOne}}<span>{{book.returnDeadline | convertBookStatusPartTwo}}</span></div>
                        <div class="library__button-wrapper">
                            <a class="library__button" ng-click="reserveBook(book.localLibrary.name, book.localLibrary.reservationDuration, book.localLibrary.id)">REZERVIRAJ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="book-details__reserve">
                <div class="book-details__reserve-wrapper">
                    <div class="reserve__header">OSTALE KNJIŽNICE</div>
                    <div class="reserve__warning" ng-hide="nonMemberBooks">Ova knjiga nije dostupna u nijednoj knjižnici koje niste član</div>
                    <div class="reserve__library clearfix" ng-repeat="book in nonMemberBooks">
                        <div class="library__name">{{book.localLibrary.name}}</div>
                        <div class="library__book-status">dostupno odmah</div>
                        <div class="library__button-wrapper">
                            <a class="library__button" ng-click="togglePopup(book.localLibrary)">UČLANI SE</a>
                            <a class="library__button" ng-click="toggleOneTime()">JEDNOKRATNO</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup" ng-show="showOneTime">
    <div class="popup__container">
        <div class="popup__header-wrapper">
            <div class="popup__header">JEDNOKRATNO POSUĐIVANJE</div>
            <img ng-click="toggleOneTime()" src="./images/cross-icon-black.png">
        </div>
        <div ng-show="true">
            <div class="library__info">
                <div><span>Knjižnica:</span> {{book.localLibrary.name}}</div>
                <div><span>Adresa:</span> {{book.localLibrary.address}}</div>
                <div><span>Trajanje posudbe:</span> {{book.localLibrary.defaultLendDuration}} h</div>
                <div><span>Cijena:</span> {{book.localLibrary.guestBorrowPrice}} kn</div>
                <div>{{book.author}}</div>
                <div>{{book.name}}</div>
            </div>
            <paypal></paypal>
        </div>
    </div>
</div>

<div class="popup" ng-show="showReservation">
    <div class="popup__container">
        <div class="popup__header-wrapper">
            <div class="popup__header">REZERVACIJA</div>
            <img ng-click="toggleReservation()" src="./images/cross-icon-black.png">
        </div>
        <div ng-show="true">
            <div class="library__info reservation-popup">
                <div>Knjiga te čeka u <span>{{book.localLibrary.name}}.</span></div>
                <div>Rezervacija vrijedi <span>{{book.localLibrary.reservationDuration}}</span> sati.</div>
            </div>
        </div>
    </div>
</div>