<div class="book-details">
    <div class="homepage__search-bar">
        <input class="search-bar__input" type="text" placeholder="Pretraži..." ng-model="searchQuery" ng-keyup="$event.keyCode == 13 && search()" ng-submit="search()" />
        <a ng-click="search()" class="search-bar__button">
            <img src="./images/search-icon.png" alt="">
        </a>
    </div>
    <div class="book-details__container">
        <div class="book-details__book-bar">
            <div class="book-bar__name">
                {{book.name}}
            </div>
            <div class="book-bar__dash">_____</div>
            <div class="book-bar__author">
                {{book.author}}
            </div>
        </div>
        <div class="book-details__content">
            <h1>INFORMACIJE</h1>
            <div class="book-details__content-wrapper">
                <img ng-src="{{book.imageUrl}}" alt="">
                <div class="book-details__information">
                    <span>Broj dostupnih knjiga:</span> {{numberOfAvailableBooks}}<br>
                    <span>Broj rezerviranih knjiga:</span> {{numberOfReservedBooks}}<br>
                    <span>Nakladnik:</span> {{book.publisher}}<br>
                    <span>Broj stranica:</span> {{book.numOfPages}}<br>
                    <span>Žanr:</span> {{book.categories}}<br>
                    <span>Jezik:</span> {{book.language}}<br>
                    <span>Standardni broj:</span> {{book.isbn}}<br>
                </div>
            </div>
            <h1 class="book-details__content-second-header">OPIS KNJIGE</h1>
            <p>{{book.description}}</p>
            <div class="book-details__reserve">
                <div class="book-details__reserve-wrapper">
                    <div class="reserve__header">MOJE KNJIŽNICE</div>
                    <div class="reserve__warning" ng-show="memberBooks.length == 0 && isLoggedIn">Ova knjiga nije dostupna u nijednoj knjižnici u kojoj ste učlanjeni.</div>
                    <div class="reserve__warning" ng-hide="isLoggedIn">Prijavite se da biste vidjeli knjige iz učlanjenih knjižnica</div>
                    <div class="reserve__library" ng-repeat="book in memberBooks">
                        <div class="library__name">{{book.localLibrary.name}}</div>
                        <div class="library__book-status">{{book.returnDeadline | convertBookStatusPartOne}}<span>{{book.returnDeadline | convertBookStatusPartTwo}}</span></div>
                        <a class="library__button" ng-click="reserveBook(book.localLibrary.name, book.localLibrary.reservationDuration, book.localLibrary.id)">REZERVIRAJ</a>
                    </div>
                </div>
            </div>
            <div class="book-details__reserve">
                <div class="book-details__reserve-wrapper">
                    <div class="reserve__header">OSTALE KNJIŽNICE</div>
                    <div class="reserve__warning" ng-hide="nonMemberBooks">Ova knjiga nije dostupna u nijednoj knjižnici koje niste član</div>
                    <div class="reserve__library clearfix" ng-repeat="book in nonMemberBooks">
                        <div class="library__name">{{book.localLibrary.name}}</div>
                        <div class="library__book-status">odmah dostupno</div>
	                    <a class="library__button" ng-click="togglePopup()">JEDNOKRATNO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup" ng-show="showPopup">
    <div class="popup__container">
        <div class="popup__header-wrapper">
            <div class="popup__header">JEDNOKRATNO POSUĐIVANJE</div>
            <img ng-click="togglePopup()" src="./images/cross-icon-black.png">
        </div>
        <div ng-show="true">
            <div class="library__info">
                <div><span>Knjižnica:</span> {{book.localLibrary.name}}</div>
                <div><span>Adresa:</span> {{book.localLibrary.address}}</div>
                <div><span>Trajanje posudbe:</span> {{book.localLibrary.defaultLendDuration}}</div>
                <div><span>Cijena:</span> {{book.localLibrary.guestBorrowPrice}}</div>
                <div>{{book.author}}</div>
                <div>{{book.name}}</div>
            </div>
            <paypal></paypal>
        </div>
    </div>
</div>