<div class="book-list__search">
    <a ui-sref="addNewMember">
        <div class="library-hub__add-button">
            <span>Dodaj novog člana</span>
            <img src="./images/add-icon.png" alt="">
        </div>
    </a>
    <div class="homepage__search-bar">
        <input class="search-bar__input" type="text" placeholder="Pretraži..." ng-model="searchQuery" ng-keyup="$event.keyCode == 13 && search()" ng-submit="search()"/>
        <a class="search-bar__button" ng-click="search()">
            <img src="./images/search-icon.png" alt="">
        </a>
    </div>
</div>


<div class="members__container">
    <div class="book-list">
        <div class="book-list__header">
            <div class="book-list__item members">#</div>
            <div class="book-list__item members" ng-click="setSortOption('name')">Ime <img src="./images/triangle.png" class="book-list__triangle"></div>
            <div class="book-list__item members" ng-click="setSortOption('lastName')">Prezime <img src="./images/triangle.png" class="book-list__triangle"></div>
            <div class="book-list__item members" ng-click="setSortOption('borrowed')">Posuđeno <img src="./images/triangle.png" class="book-list__triangle"></div>
            <div class="book-list__item members" ng-click="setSortOption('reserved')">Rezervirano <img src="./images/triangle.png" class="book-list__triangle"></div>
            <div class="book-list__item members" ng-click="setSortOption('booksWithLateReturnFee')">Zakašnjelo <img src="./images/triangle.png" class="book-list__triangle"></div>
            <div class="book-list__item members">Zakasnina [kn] <img src="./images/triangle.png" class="book-list__triangle"></div>
        </div>
        <div class="book-list__line"></div>
        <div class="book-list__container">
            <div class="book-list__book" ng-repeat="member in members"  ng-click="showDetails($index)">
                <div class="book-list__wrapper">
                    <div class="book-list__item members">{{$index+1}}</div>
                    <div class="book-list__item members">{{member.name}}</div>
                    <div class="book-list__item members">{{member.lastName}}</div>
                    <div class="book-list__item members">{{member.borrowedBooks.length}}</div>
                    <div class="book-list__item members">{{member.reservations.length}}</div>
                    <div class="book-list__item members">{{numberOfLateReturnFees(member)}}</div>
                    <div class="book-list__item members">{{member.totalLateReturnFee}}</div>
                </div>
                <div class="book-list__book-expand" ng-show="member.isClicked">
                    <div class="book-expand__item">
                        <span>Posuđene knjige</span>
                        <div class="book-expand__book" ng-hide="member.borrowedBooks.length">Nema posuđenih knjiga.</div>
                        <div ng-repeat="book in member.borrowedBooks">
                            <div class="book-expand__book">
                                <div class="book__name">{{book.name}}</div>
                                <div class="book__author">{{book.author}}</div>
                                <div class="book__info green">{{book.returnDeadline}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="book-expand__item">
                        <span>Rezervirane knjige</span>
                        <div class="book-expand__book" ng-hide="member.reservations.length">Nema rezervacija.</div>
                        <div ng-repeat="reservation in member.reservations">
                            <div class="book-expand__book">
                                <div class="book__name">{{reservation.book.name}}</div>
                                <div class="book__author">{{reservation.book.author.name}}</div>
                                <div class="book__info orange">{{reservation.pickupDeadline | date:'yyyy-MM-dd, HH:mm'}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="book-expand__item">
                        <span>Zakašnjele knjige</span>
                        <div class="book-expand__book" ng-hide="member.lateBooks.length">Nema zakašnjelih knjiga.</div>
                        <div ng-repeat="book in member.lateBooks">
                            <div class="book-expand__book">
                                <div class="book__name">{{book.name}}</div>
                                <div class="book__author">{{book.author}}</div>
                                <div class="book__info red">{{book.returnDeadline}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="book-expand__item">
                        <span>Kontakt</span>
                        <div class="book-expand__book">
                            <div class="book__name">{{member.name}} {{member.lastName}}</div>
                            <div class="book__author">{{member.phoneNumber}}</div>
                            <div class="book__author">{{member.email}}</div>
                            <div class="book__author">{{member.address}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="show-more__button" ng-click="loadMoreMembers()">Prikaži više rezultata</button>
        </div>
    </div>
</div>