.group:after {
    content: "";
    display: table;
    clear: both;
}

* {
    transition-duration: 0.25s;
}

body {
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    background:linear-gradient(0deg,rgba(255,255,255,0.8),rgba(255,255,255,0.8)),url('/images/paper-background.jpg');
}

a {
    text-decoration: none;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    font-weight: 900;
}

[ng-click],
[data-ng-click],
[x-ng-click],
[ui-sref] {
    cursor: pointer;
}