.group:after {
    content: "";
    display: table;
    clear: both;
}

* {
    transition-duration: 0.25s;
}

body {
    background-image: url('/images/paper-background.jpg');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.background__image {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    font-weight: 900;
}