<div class="add-new-book">
	<div class="add-new-book__header">Dodaj korisnika</div>
	<img ng-show="!picFile" src="./images/no-profile-pic.png" class="add-new-member__profile-pic">
	<img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="add-new-member__profile-pic rounded">
	<button class="add-new-member__button" type="file" ngf-select ng-model="picFile" name="file"
	accept="image/*" ngf-max-size="122MB" required
	ngf-model-invalid="errorFile">UPLOAD SLIKE</button>
    <button class="add-new-member__button" ng-click="picFile = null" ng-show="picFile">Izbriši sliku</button>
	<form class="add-new-member" name="memberForm" novalidate>
		<div class="add-new-book__info-wrapper add-new-member__wrapper">
			<div class="form-group">
				<label>IME</label>
				<input type="text" placeholder="Ime" name="name" ng-model="member.name" required>
				<div class="help-block" ng-messages="memberForm.name.$error" ng-if="memberForm.name.$touched">
					<div ng-messages-include="validation-messages"></div>
				</div>
			</div>
			<div class="form-group">
				<label>PREZIME</label>
				<input type="text" placeholder="Prezime" name="lastname" ng-model="member.lastname" required />
				<div class="help-block" ng-messages="memberForm.lastname.$error" ng-if="memberForm.lastname.$touched">
					<div ng-messages-include="validation-messages"></div>
				</div>
			</div>
			<div class="form-group">
				<label>OIB</label>
				<input type="number" placeholder="OIB" name="oib" ng-model="member.oib" required />
				<div class="help-block" ng-messages="memberForm.oib.$error" ng-if="memberForm.oib.$touched">
					<div ng-messages-include="validation-messages"></div>
				</div>
			</div>
			<div class="form-group">
				<label>E-MAIL ADRESA</label>
				<input type="email" placeholder="E-mail" name="email" ng-model="member.email">
				<div class="help-block" ng-messages="memberForm.email.$error" ng-if="memberForm.email.$touched">
					<div ng-messages-include="validation-messages"></div>
				</div>
			</div>
			<div class="form-group">
				<label>ADRESA STANOVANJA</label>
				<input type="text" placeholder="Adresa" name="address" ng-model="member.address" required>
				<div class="help-block" ng-messages="memberForm.address.$error" ng-if="memberForm.address.$touched">
					<div ng-messages-include="validation-messages"></div>
				</div>
			</div>
			<div class="form-group">
				<label>GRAD</label>
				<input type="text" placeholder="Grad" name="city" ng-model="member.city" required />
				<div class="help-block" ng-messages="memberForm.city.$error" ng-if="memberForm.city.$touched">
					<div ng-messages-include="validation-messages"></div>
				</div>
			</div>
			<div class="form-group">
				<label>BROJ MOBITELA</label>
				<input type="number" placeholder="Broj mobitela" name="phoneNumber" ng-model="member.phoneNumber" required />
				<div class="help-block" ng-messages="memberForm.phoneNumber.$error" ng-if="memberForm.phoneNumber.$touched">
					<div ng-messages-include="validation-messages"></div>
				</div>
			</div>
		</div>
		<button class="add-new-book__button-confirm center" ng-click="save()" ng-disabled="memberForm.$invalid">POTVRDI</button>
	</form>
</div>