<div>LEND AND RETURN</div>
<button>SKENIRAJ KNJIGU</button>
<button>SKENIRAJ KORISNIKA</button>
<input type="text" ng-model="bookBarcode" />

<!--<barcode-listener
		on-scan='test'
		prefix='P%'
		length='24'
		scan-duration='500'
	></barcode-listener>-->

<div>KNJIGE</div>
<div ng-repeat="book in books">
	<div>{{book.name}} --- {{book.author.name}}</div>
</div>

<div>KORISNIK</div>
<div>Ime: {{member.memberName}} {{member.memberLastName}}</div>
<div>E-mail: {{member.memberEmail}}</div>
<div>OIB: {{member.memberOib}}</div>
<div>Adresa: {{member.memberAddress}}</div>

<div>Broj posudenih: {{member.numberOfBorrowedBooks}}</div>
<div>Broj rezerviranih: {{member.numberOfReservedBooks}}</div>
