<style>
    .activeButton {
        background-color: #b59a56;
    }
</style>

<div class="lend-and-return">
    <div class="lend-and-return__scan">
        <div class="lend-and-return__button btn-black" ng-class="bookScanButton" ng-click="changeScanOption('book')">
            <img src="./images/scan-book.png">
            <label>SKENIRAJ KNJIGU</label>
        </div>
        <div class="lend-and-return__barcode">
            <div class="homepage__search-bar">
                <input class="search-bar__input" type="text" placeholder="Upiši barcode..." ng-model="barcodeBook" ng-keyup="$event.keyCode == 13 && search()" ng-submit="search()" />
                <a class="search-bar__button" ng-click="processScannedBarcode(barcodeBook)">
                    <img src="./images/search-icon.png" alt="">
                </a>
            </div>
        </div>
        <span class="lend-and-return__scan-header">SKENIRANE KNJIGE</span>
        <div class="lend-and-return__scanned-book" ng-repeat="book in books">
            <img ng-src="{{book.imageUrl}}">
            <div class="scanned-book__info">
                <div class="scanned-book__name book-bar__name">{{book.name}}</div>
                <div class="scanned-book__author book-bar__author">{{book.author.name}}</div>
                <div class="scanned-book__status" ng-show="book.isBorrowed">Ovu knjigu <span class="scanned-book__status status status-green">vraćate</span> u knjižnicu.</div>
                <div class="scanned-book__status" ng-hide="book.isBorrowed">Ovu knjigu <span class="scanned-book__status status status-yellow">posuđujete</span> iz knjižnice.</div>
                <button ng-click="removeBook($index)" class="scanned-book__remove-button">MAKNI KNJIGU</button>
            </div>
        </div>
    </div>
    <div class="lend-and-return__scan">
        <div class="lend-and-return__button btn-black" ng-class="memberScanButton" ng-click="changeScanOption('member')">
            <img src="./images/scan-user.png">
            <label class="button__label">SKENIRAJ KORISNIKA</label>
        </div>
        <div class="lend-and-return__barcode">
            <div class="homepage__search-bar">
                <input class="search-bar__input" type="text" placeholder="Upiši barcode..."  ng-model="barcodeMember" ng-keyup="$event.keyCode == 13 && search()" ng-submit="search()" />
                <a class="search-bar__button" ng-click="processScannedBarcode(barcodeMember)">
                    <img src="./images/search-icon.png" alt="">
                </a>
            </div>
        </div>
        <span class="lend-and-return__scan-header">SKENIRANI KORISNIK</span>
        <div class="lend-and-return__user-container">
            <img class="lend-and-return__user-photo" ng-src="{{memberImageUrl}}">
            <div class="lend-and-return__user-info">
                <span>Ime:</span> {{member.memberName}} {{member.memberLastName}}<br>
                <span>E-mail:</span> {{member.memberEmail}}<br>
                <span>OIB:</span> {{member.memberOib}}<br>
                <span>Adresa:</span> {{member.memberAddress}}<br><br>
                <span>Broj posuđenih:</span> {{member.numberOfBorrowedBooks}}<br>
                <span>Broj rezerviranih:</span> {{member.numberOfReservedBooks}}<br>
                <button ng-click="removeMember()" class="scanned-book__remove-button" ng-show="member.memberName">MAKNI KORISNIKA</button>
            </div>
        </div>
    </div>
    <div class="lend-and-return__button btn-gold" ng-click="confirmScannedItems()">POTVRDI</div>
</div>

<div ng-show="errorMessage">{{errorMessage}}</div>
<div ng-show="returnMessage">{{returnMessage}}</div>