<customheader></customheader>

<div class="signup__info">
    <div class="signup__header">
        <span>Tko ne čita, ne živi.</span>
        <span>Živi uz Beeble.</span>
    </div>
    <div class="signup__benefits">
        <div class="signup__benefit">
            <img src="./images/book-icon.png" alt="">
            <div class="benefit__content">
                <div class="benefit__header">STATUS KNJIGA</div>
                <div class="benefit__description">Brzo i jednostavno saznaj je li knjiga koju želiš posuditi rezervirana, posuđena ili slobodna.</div>
            </div>
        </div>
        <div class="signup__benefit">
            <img src="./images/paypal-icon.png" alt="">
            <div class="benefit__content">
                <div class="benefit__header">ONLINE PLAĆANJE</div>
                <div class="benefit__description">Kroz online plaćanje učlani se u bilo koju knjižnicu, podmiri zakasninu ili jednokratno posudi knjigu.</div>
            </div>
        </div>
        <div class="signup__benefit">
            <img src="./images/light-bulb-icon.png" alt="">
            <div class="benefit__content">
                <div class="benefit__header">JEDNOKRATNO POSUĐIVANJE</div>
                <div class="benefit__description">Ne moraš više biti član knjižnice da bi posudio knjigu, plati za posudbu knjige jednokratno.</div>
            </div>
        </div>
        <div class="signup__benefit">
            <img src="./images/magnifier-icon.png" alt="">
            <div class="benefit__content">
                <div class="benefit__header">PRETRAGA SVIH KNJIŽNICA</div>
                <div class="benefit__description">Pretraži knjige u više knjižnica odjednom.</div>
            </div>
        </div>
    </div>
</div>
<form class="signup" name="signUpForm" novalidate>
    <div class="signup__form">
        <div class="signup__form-header">Registracija</div>
        <div class="signup__form-description">Upišite svoje podatke kako biste se registrirali u sustav.</div>

        <div class="signup__container">
            <div class="form-group">
                <span>E-MAIL ADRESA</span>
                <input type="email" placeholder="E-mail" name="email" ng-model="registration.username">
                <div class="help-block" ng-messages="signUpForm.email.$error" ng-if="signUpForm.email.$touched">
                    <div ng-messages-include="validation-messages"></div>
                </div>
            </div>

            <div class="form-group">
                <span>LOZINKA</span>
                <input type="text" placeholder="Lozinka" name="password" ng-model="registration.password" ng-minlength="6">
                <div class="help-block" ng-messages="signUpForm.password.$error">
                    <div ng-messages-include="validation-messages"></div>
                </div>
            </div>

            <div class="form-group">
                <span>PONOVI LOZINKU</span>
                <input type="text" placeholder="Ponovi lozinku" name="confirmPassword" ng-model="registration.confirmPassword" ng-pattern="{{registration.password}}">
                <div class="help-block" ng-messages="signUpForm.confirmPassword.$error" ng-if="signUpForm.confirmPassword.$touched">
                    <div ng-messages-include="validation-messages"></div>
                </div>
            </div>
        
            <div class="form-group">
                <span>IME</span>
                <input type="text" placeholder="Ime" name="name" ng-model="registration.name" required>
                <div class="help-block" ng-messages="signUpForm.name.$error" ng-if="signUpForm.name.$touched">
                    <div ng-messages-include="validation-messages"></div>
                </div>
            </div>
        
            <div class="form-group">
                <span>PREZIME</span>
                <input type="text" placeholder="Prezime" name="lastname" ng-model="registration.lastname" required>
                <div class="help-block" ng-messages="signUpForm.lastname.$error" ng-if="signUpForm.lastname.$touched">
                    <div ng-messages-include="validation-messages"></div>
                </div>
            </div>
        
            <div class="form-group">
                <span>OIB</span>
                <input type="text" placeholder="OIB" name="oib" ng-model="registration.oib" required>
                <div class="help-block" ng-messages="signUpForm.oib.$error" ng-if="signUpForm.oib.$touched">
                    <div ng-messages-include="validation-messages"></div>
                </div>
            </div>
        
            <div class="form-group">
                <span>ADRESA</span>
                <input type="text" placeholder="Adresa" name="address" ng-model="registration.address" required>
                <div class="help-block" ng-messages="signUpForm.address.$error" ng-if="signUpForm.address.$touched">
                    <div ng-messages-include="validation-messages"></div>
                </div>
            </div>
        
            <div class="form-group">
                <span>GRAD</span>
                <input type="text" placeholder="Grad" name="city" ng-model="registration.city" required>
                <div class="help-block" ng-messages="signUpForm.city.$error" ng-if="signUpForm.city.$touched">
                    <div ng-messages-include="validation-messages"></div>
                </div>
            </div>
        
            <div class="form-group">
                <span>BROJ MOBITELA</span>
                <input type="text" placeholder="Broj mobitela" name="number" ng-model="registration.phoneNumber" required>
                <div class="help-block" ng-messages="signUpForm.number.$error" ng-if="signUpForm.number.$touched">
                    <div ng-messages-include="validation-messages"></div>
                </div>
            </div>
        </div>
    
        <button class="signup__button" ng-click="signUp()" ng-disabled="signUpForm.$invalid">POTVRDI</button>
    </div>
</form>