<input type="text" placeholder="E-mail" ng-model="registration.username">
<input type="text" placeholder="Password" ng-model="registration.password">
<input type="text" placeholder="Confirm password" ng-model="registration.confirmPassword">
<input type="text" placeholder="Ime" ng-model="registration.name">
<input type="text" placeholder="Prezime" ng-model="registration.lastname">
<input type="text" placeholder="OIB" ng-model="registration.oib">
<input type="text" placeholder="Adresa" ng-model="registration.address">
<input type="text" placeholder="Grad" ng-model="registration.city">
<input type="text" placeholder="Broj mobitela" ng-model="registration.phoneNumber">
<button ng-click="signUp()">Sign up</button>