<div class="library-details">
	<div class="library-details__bar">
		<span class="library-details__library-name">{{library.libraryName}}</span>
	</div>
	<div class="library-details__content">
		<span class="library-details__header">INFORMACIJE</span>
		<div class="library-details__info">
			<div class="library-details__info-left">
				<span>Član do:</span> {{library.membershipExpiryDate | convertDateLong}}<br>
				<span>Broj posuđenih knjiga:</span> {{library.numberOfBorrowedBooks}}<br>
				<span>Broj rezerviranih knjiga:</span> {{library.numberOfReservedBooks}}<br>
				<span>Datum zadnje posudbe:</span> {{library.lastBorrowDate | convertDateLong}}<br>
			</div>
			<div class="library-details__info-right">
				<span>Otvoreno:</span> {{library.libraryOpenHours}}<br>
				<span>Adresa:</span> {{library.libraryAddress}}<br>
				<span>Kontakt broj:</span> {{library.libraryNumber}}<br>
				<span>E-mail adresa:</span> {{library.libraryEmail}}<br>
			</div>
		</div>
		<img ng-src="{{barcodeGeneratorFull}}" alt="{{barcodeGeneratorFull}}"/>

		<div class="library-details__borrowed">
			<span class="library-details__library-name">POSUĐENO</span>
			<div class="library-details__borrowed-book" ng-repeat="book in library.borrowedBooks">
				<img ng-src="{{book.imageUrl}}">
				<div class="borrowed-book__name">{{book.name}}</div>
				<div class="borrowed-book__author">{{book.author}}</div>
				<div class="borrowed-book__return-date">Posuđeno do <span>{{book.returnDeadline}}</span></div>
			</div>
		</div>
		<div class="library-details__borrowed" ng-show="library.reservations">
			<span class="library-details__library-name">REZERVIRANO</span>
			<div class="library-details__borrowed-book" ng-repeat="reservation in library.reservations">
				<img ng-src="{{reservation.book.imageUrl}}" alt="">
				<div class="borrowed-book__name">{{reservation.book.name}}</div>
				<div class="borrowed-book__author">{{reservation.book.author.name}}</div>
				<div class="borrowed-book__return-date">Posuđeno do <span>{{reservation.pickupDeadline | date:'yyyy-MM-dd, HH:mm'}}</span></div>
			</div>
		</div>
	</div>
</div>