<div class="popup" ng-show="popupActive">
	<div class="popup__container">
		<div class="popup__header-wrapper">
			<div class="popup__header">UČLANI SE</div>
			<img ng-click="togglePopup()" src="./images/cross-icon-black.png">
		</div>
		<div class="library__info">
			<div><span>Knjižnica:</span> Marko Marulić</div>
			<div><span>Adresa:</span> Teslina 2, Split</div>
			<div><span>Ograničenje posuđivanja:</span> 5</div>
			<div><span>Cijena:</span> 50 kn</div>
		</div>
		<paypal></paypal>
		<div class="library__member">
			<div class="library__member__description">
				Ukoliko ste već član ove knjižnice, upišite svoj broj iskaznice i besplatno digitalizirajte svoje članstvo.
			</div>
			<input type="text" ng-model="barcodeNumber">
			<button ng-click="submitBarcode()">POTVRDI</button>
		</div>
	</div>
</div>

<div class="add-library">
	<input class="add-library__search" type="text" ng-model="searchQuery" placeholder="Pretraga knjižnica...">
	<div class="add-library__library-list">
		<div class="add-library__library" ng-repeat="library in allSearchLibraries | filter:searchQuery">
			<div class="library__name">{{library.name}}</div>
			<div class="library__price">Cijena članstva: <span>{{library.membershipPrice}} kn</span></div>
			<div class="library__wrapper">
				<div class="library__name">{{library.name}}</div>
				<div class="library__price">Cijena članstva: <span>{{library.membershipPrice}} kn</span></div>
			</div>
			<div class="library__button-container">
				<button class="library__sign-up" ng-click="togglePopup()">UČLANI SE</button>
			</div>
		</div>
	</div>
</div>