<!-- <div ng-repeat="library in libraries">
	<h4>{{library.libraryName}}</h4>
	<div>Član do {{library.membershipExpiryDate | convertDate}}</div>
	<div>Broj posuđenih knjiga{{library.numberOfBorrowedBooks}}</div>
	<div>Broj rezerviranih knjiga{{library.numberOfReservedBooks}}</div>
	<div>Datum zadnje posudbe {{library.lastBorrowDate | convertDate}}</div>
	<button ui-sref="libraryDetails({libraryId: library.libraryId})">Detalji</button>


</div>
<div ui-sref="addNewLibraryMembership">Dodaj novu knjižnicu</div> -->

<div class="library-hub">
	<a href="#">
		<div class="library-hub__add-button">
			<span>Dodaj novu knjižnicu</span>
			<img src="./images/add-icon.png" alt="">
		</div>
	</a>
	<div class="library-hub__libraries" ng-repeat="library in libraries">
		<div class="library-hub__library">
			<div class="library__bar">
				<span>{{library.libraryName}}</span>
			</div>
			<div class="library__info">
				<span>Član do</span> {{library.membershipExpiryDate | convertDate}}<br>
				<span>Broj posuđenih knjiga:</span> {{library.numberOfBorrowedBooks}}<br>
				<span>Broj rezerviranih knjiga:</span> {{library.numberOfReservedBooks}}<br>
				<span>Datum zadnje posudbe:</span> {{library.lastBorrowDate | convertDate}}<br>
			</div>
			<a ui-sref="libraryDetails({libraryId: library.libraryId})">DETALJI</a>
		</div>
	</div>
</div>