<div class="book-list__search">
    <a ui-sref="addNewBook">
        <div class="library-hub__add-button">
            <span>Dodaj novu knjigu</span>
            <img src="./images/add-icon.png" alt="">
        </div>
    </a>
    <div class="homepage__search-bar">
        <input class="search-bar__input" type="text" placeholder="Pretraži..." ng-model="searchQuery" ng-keyup="$event.keyCode == 13 && search()" ng-submit="search()" />
        <a class="search-bar__button" ng-click="search()">
            <img src="./images/search-icon.png" alt="">
        </a>
    </div>
</div>

<div class="book-list">
    <div class="book-list__header">
        <div class="book-list__item">#</div>
        <div class="book-list__item" ng-click="setSortOption('name')">Naslov</div>
        <div class="book-list__item" ng-click="setSortOption('author')">Autor</div>
        <div class="book-list__item" ng-click="setSortOption('quantity')">Količina</div>
        <div class="book-list__item" ng-click="setSortOption('borrowed')">Posuđeno</div>
        <div class="book-list__item" ng-click="setSortOption('reserved')">Rezervirano</div>
        <div class="book-list__item" ng-click="setSortOption('damage')">Stanje knjige</div>
    </div>
    <div class="book-list__line"></div>
    <div class="book-list__container">
        <div class="book-list__book" ng-repeat="book in books">
            <div class="book-list__item">{{$index+1}}.</div>
            <div class="book-list__item">{{book.name}}</div>
            <div class="book-list__item">{{book.author}}</div>
            <div class="book-list__item">{{book.numberOfBooks}}</div>
            <div class="book-list__item">{{book.numberOfBorrowedBooks}}</div>
            <div class="book-list__item">{{book.numberOfReservedBooks}}</div>
            <div class="book-list__item">{{book.damageLevel | convertBookDamage}}</div>
        </div>
        <button class="show-more__button" ng-click="loadMoreBooks()">Prikaži više rezultata</button>
    </div>
</div>