<form name="bookForm" novalidate>
    <div class="form-group">
        <input type="text" placeholder="Ime" name="name" ng-model="book.name" required>
        <div class="help-block" ng-messages="bookForm.name.$error" ng-if="userForm.confirmPassword.$touched">
            <div ng-messages-include="validation-messages"></div>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Author" name="author" ng-model="book.author" required>
            <div class="help-block" ng-messages="bookForm.author.$error" ng-if="bookForm.author.$touched">
                <div ng-messages-include="validation-messages"></div>
            </div>
        </div>
        <div class="form-group">
            <input type="number" placeholder="Number of pages" name="numOfPages" ng-model="book.numOfPages" required>
            <div class="help-block" ng-messages="bookForm.numOfPages.$error" ng-if="bookForm.numOfPages.$touched">
                <div ng-messages-include="validation-messages"></div>
            </div>
        </div>
        <div class="form-group">
            <input type="number" placeholder="ISBN" name="isbn" ng-model="book.isbn" required>
            <div class="help-block" ng-messages="bookForm.isbn.$error" ng-if="bookForm.isbn.$touched">
                <div ng-messages-include="validation-messages"></div>
            </div>
        </div>
        <div class="form-group">
            <textarea placeholder="Opis" name="description" cols="40" rows="5" ng-model="book.description" required></textarea>
            <div class="help-block" ng-messages="bookForm.description.$error" ng-if="bookForm.description.$touched">
                <div ng-messages-include="validation-messages"></div>
            </div>
        </div>
    </div>

    <style>
        /*STIPE: ubaci ovo u ostatak css-a, svrha je da sakrije one strelice sa strane za povecavanje broja*/
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            margin: 0;
        }
    </style>

    <button ng-click="save()" ng-disabled="bookForm.$invalid">Potvrdi promjene</button>

</form>