<div class="search">
	<div class="homepage__search-bar">
		<input class="search-bar__input" type="text" placeholder="Pretraži..." ng-model="searchQuery" ng-keyup="$event.keyCode == 13 && search()" ng-submit="search()" />
		<a ng-click="searchButton()" class="search-bar__button">
			<img src="./images/search-icon.png" alt="">
		</a>
	</div>
	<div class="search__wrapper">
		<div class="search__filter">
			<input id="toggle" class="toggle" type="checkbox">
			<label for="toggle" class="search__filter-header">
				<span>FILTERI</span>
				<img src="./images/triangle.png" alt="">
			</label>
			<div class="search__filter-expand">
				<div class="filter__active">
					<span class="filter__active-header" ng-show="selectedFilters.length">AKTIVNI FILTERI</span>
					<div class="filter__item" ng-repeat="filter in selectedFilters">
						<span>{{filter}}</span>
						<button class="remove-item" ng-click="removeAFilter()"><img src="./images/cross-icon.png" alt=""></button>
					</div>
				</div>
				<div class="search__filter-category" ng-show="searchFiltersAuthor[0].length">
					<img src="./images/circle.png" alt="">
					<div class="filter-category__all">
						<span>AUTOR</span>
						<div class="filter-category__select-filter" ng-repeat="filter in searchFiltersAuthor[0]" ng-click="applyAFilter(filter)">
							{{filter}} ({{searchFiltersAuthor[1][$index]}})
						</div>
					</div>
				</div>
				<div class="search__filter-category" ng-show="searchFiltersCategory[0].length">
					<img src="./images/circle.png" alt="">
					<div class="filter-category__all">
						<span>KATEGORIJA</span>
						<div class="filter-category__select-filter" ng-repeat="filter in searchFiltersCategory[0]" ng-click="applyAFilter(filter)">
							{{filter}} ({{searchFiltersCategory[1][$index]}})
						</div>
					</div>
				</div>
				<div class="search__filter-category" ng-show="searchFiltersNationality[0].length">
					<img src="./images/circle.png" alt="">
					<div class="filter-category__all">
						<span>NACIONALNOST</span>
						<div class="filter-category__select-filter" ng-repeat="filter in searchFiltersNationality[0]" ng-click="applyAFilter(filter)">
							{{filter}} ({{searchFiltersNationality[1][$index]}})
						</div>
					</div>
				</div>
				<div class="search__filter-category" ng-show="searchFiltersYear[0].length">
					<img src="./images/circle.png" alt="">
					<div class="filter-category__all">
						<span>GODINA</span>
						<div class="filter-category__select-filter" ng-repeat="filter in searchFiltersYear[0]" ng-click="applyAFilter(filter)">
							{{filter}} ({{searchFiltersYear[1][$index]}})
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="search__result-wrapper">
			<div class="search__results-title">REZULTATI</div>
			<div class="search__result" ng-repeat="book in currentBooks">
				<div></div>
				<div class="search__result-book-name">{{book.name}}</div>
				<div class="search__result-book-author">{{book.author.name}}</div>
				<div class="book-info-wrapper">
					<div></div>
					<img ng-src="{{book.imageUrl}}">
					<div class="book-info-wrapper-second">
						<div class="search__result-book-info">
							<span class="left">Nakladnik:</span>
							<span class="right">{{book.publisher}}</span><br>
							<span class="left">Godina:</span>
							<span class="right">{{book.yearOfIssue.year}}</span><br>
							<span class="left">Žanr:</span>
							<span class="right">{{book.categories.name}}</span>
						</div>
						<button class="search__result-button" ui-sref="bookDetails({bookName: book.name})">DETALJI</button>
					</div>
				</div>
			</div>
			<button class="search__result-more" ng-click="showMoreResults()" ng-show="currentBooks.length>0" ng-disabled="noMoreSearchResults">PRIKAŽI VIŠE REZULTATA</button>
		</div>
	</div>
</div>