<div>search TEMPLATE</div>
<input type="text" ng-model="searchQuery" placeholder="Search"/>
<button ng-click="search()">-----Search-----</button>
<h2>Knjige</h2>
<div ng-repeat="bookName in currentBooks">
	<div>{{bookName}}</div>
	<button ui-sref="bookDetails({bookName: bookName})">Details</button>
</div>

<h2>Filteri</h2>
<h3>Nacionalnosti</h3>
<div ng-repeat="filter in searchFiltersNationality[0]">
	<div>
		{{filter}} ({{searchFiltersNationality[1][$index]}}) <input type="checkbox" ng-click="changeFilterStatus($index)" checked/>
	</div>
</div>

<h3>Autori</h3>
<div ng-repeat="filter in searchFiltersAuthor[0]">
    <div>
        {{filter}} ({{searchFiltersAuthor[1][$index]}}) <input type="checkbox" ng-click="changeFilterStatus($index+searchFiltersNationality[1].length)" checked />
    </div>
</div>

<h3>Kategorije</h3>
<div ng-repeat="filter in searchFiltersCategory[0]">
    <div>
        {{filter}} ({{searchFiltersCategory[1][$index]}}) <input type="checkbox" ng-click="changeFilterStatus($index+searchFiltersNationality[1].length+searchFiltersCategory.length[1])" checked />
    </div>
</div>

<button ng-click="applyFilters()">Apply filters</button>
<button ng-click="showMoreResults()" ng-show="currentBooks.length>0" ng-disabled="noMoreSearchResults">Show more results</button>