.add-new-book {
    width: calc(80% - 50px);
    background-color: white;
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 25px;

    input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        margin: 0;
    }

    .add-new-book__upload {
        display: inline-block;
        margin-top: 15px;
        margin-top: 15px;
        padding: 10px;
        background-color: buttonface;
        color: black;
        border: 0;
        border-radius: 5px;
    }

    .add-new-book__button-confirm {
        margin-top: 15px;
        padding: 10px;
        display: block;
        background-color: #b59a56;
        color: white;
        border: 0;
        font-weight: 600;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
        font-size: 15px;
    }

    .bootstrap {
        button {
            margin-top: 15px;
            display: block;
        }
    
        input {
            width: auto;
        }
    
        ul {
            position: static;
            display: block;
        }
    }
}

.add-new-book__header {
    font-size: 26px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #b59a56;
}

.add-new-book__info-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    label {
        font-weight: 600;
        font-size: 16px;
        display: block;
        margin-top: 25px;
        margin-bottom: 5px;
    }

    input {
        border: 0;
        margin: 0;
        padding: 10px;
        width: calc(100% - 20px);
        display: inline-block;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }

    textarea {
        border: 0;
        margin: 0;
        padding: 10px;
        display: inline-block;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }

    .form-group {
        display: block;
        width: 48%;

        .help-block {
            font-weight: 500;
            color: red;
        }
    }
}

@media screen and (min-width: 1024px) {
    .add-new-book__info-wrapper {
        .form-group {
            width: 31%;
        }
    }

    .add-new-book__button-confirm {
        width: 200px;
    }

    .add-new-book__header {
        font-size: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .add-new-book__info-wrapper {
        width: 60%;
        display: inline-flex;

        .form-group {
            width: 48%;
        }
    }

    .add-new-book__header {
        font-size: 38px;
    }

    .add-new-book__right {
        display: inline-block;
        width: 39%;
        margin-left: 25px;
        margin-top: 16px;
    }

    .add-new-book {
        padding: 50px;
        width: calc(80% - 100px);

        .add-new-book__upload {
            margin-top: 53px;
        }

        form {
            display: flex;
        }

        .bootstrap {
            display: block;

            ul {
                position: absolute;
            }

            button {
                margin-top: 30px;
            }
        }
    }
}