.book-details {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 0px;
}

.book-details .homepage__search-bar {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    @extend %every-box;
}

.search-bar__input {
    padding-left: 10px;
    border-width: 0px;
    border-radius: 5px;
    height: 100%;
    width: calc(100% - 50px);

    &:focus {
        outline-width: 0;
    }
}

.search-bar__button {
    float: right;
    width: 40px;
    height: 100%;
    background-color: #000000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    img {
        width: 20px;
        margin: 10px;
    }

    &:hover {
        background-color: #333333;
    }
}

.library__button-wrapper {
    float: right;
}

.book-details__container {
    width: 100%;
    margin-top: 50px;
    background-color: white;
    @extend %every-box;
    height: auto;
    overflow: hidden;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.book-details__book-bar {
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-color: #b59a56;
    padding: 25px;
}

.book-bar__name {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 32px;
    display: inline-block;
    color: white;
    margin-right: 10px;
}

.book-bar__dash {
    display: inline-block;
    color: #333333;
    position: relative;
    bottom: 5px;
    margin-right: 10px;
}

.book-bar__author {
    display: inline-block;
    color: #333333;
    font-weight: 600;
}

.book-details__content {
    margin: 40px;

    h1 {
        color: #b59a56;
        font-size: 24px;
    }

    .book-details__content-second-header {
        margin-top: 25px;
    }

    img {
        width: 150px;
        display: inline-block;
    }

    p {
        line-height: 1.5;
    }
}

.book-details__content-wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 25px;
}

.book-details__information {
    display: inline-block;
    margin-left: 25px;
    line-height: 1.5;

    span {
        color: #8b8b8b;
        font-weight: 500;
    }
}

.book-details__reserve {
    margin-top: 35px;
    width: 100%;
    @extend %every-box;
    height: auto;

    .reserve__warning {
        margin-top: 10px;
        line-height: 1.3;
    }
}

.book-details__reserve-wrapper {
    padding: 25px;
}

.book-details__reserve .reserve__header {
    color: #b59a56;
    font-size: 24px;
    font-weight: 600;
}

.reserve__library {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center
}

.library__name {
    font-weight: 600;
}

.library__book-status {
    color: #8b8b8b;
    font-weight: 500;
    position: absolute;
    left: 0;
    right: 0;

    span {
        color: #333333;
    }
}

.library__button {
    box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
    height: auto;
    background-color: #b59a56;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
}

.library__button-one-time {
    box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
    background-color: #333333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: 110px;
    top: 0;
}

.paypal__button {
    width: 125px;
}

.library__info {
    div:nth-of-type(5) {
        margin-top: 15px;
        font-weight: 600;
        font-size: 16px;
    }
}

@media screen and (max-width: 980px) {
    .book-details {
        width: 90%;
    }
}

@media screen and (max-width: 870px) {
    .book-details {
        width: 100%;
    }
}

@media screen and (max-width: 770px) {
    .book-details .homepage__search-bar {
        width: 70%;
    }

    .reserve__library {
        display: block;
        text-align: left;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .library__book-status {
        margin-top: 5px;
        margin-bottom: 5px;
        position: static;
        left: auto;
        right: auto;
        display: inline-block;
    }

    .library__button-wrapper {
        margin-top: -6px;
    }
}

@media screen and (max-width: 630px) {
    .book-details .homepage__search-bar {
        width: 80%;
    }

    .book-details__reserve {
        margin-left: -40px;
        margin-right: -40px;
        width: calc(100% + 80px);
        border-radius: 0;
    }
}

@media screen and (max-width: 480px) {
    .book-details__information {
        display: block;
        margin-left: 0;
        width: 100%;
    }

    .book-details__content-wrapper img {
        display: block;
        margin-bottom: 20px;
    }

    .book-details__content-wrapper {
        display: block;
    }

    .book-bar__dash {
        display: none;
    }

    .book-details__book-bar {
        text-align: center;
        display: block;
    }

    .book-bar__name {
        margin-right: 0px;
    }

    .book-bar__author {
        margin-top: 10px;
        display: block;
    }
}

@media screen and (max-width: 415px) {
    .library__button-wrapper {
        float: none;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .reserve__library {
        margin-bottom: 30px;
    }
}