.homepage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.homepage__container {
    width: 50%;
    text-align: center;
}

.homepage__logo {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 30px;
}

.homepage__search-bar {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    text-align: left;
    -webkit-box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.1);
}

.search-bar__input {
    padding: 0;
    margin-left: 10px;
    border-width: 0px;
    border-radius: 5px;
    height: 100%;
    width: calc(100% - 50px);

    &:focus {
        outline-width: 0;
    }
}

.search-bar__button {
    float: right;
    width: 40px;
    height: 100%;
    background-color: #000000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    img {
        width: 20px;
        margin: 10px;
    }

    &:hover {
        background-color: #333333;
    }
}

.homepage__buttons {
    width: 100%;
    margin-top: 25px;
    text-align: left;
}

.homepage__login {
    display: inline-flex;
    justify-content: center;
    width: 48%;
    height: 40px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.1);
    background-color: #000000;
    color: white;
    transition-duration: 0.25s;

    &:hover {
        background-color: #333333;
    }
}

.login__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 15px;
        margin-right: 5px;
    }

    span {
        font-weight: 500;
        font-size: 17px;
    }
}

.homepage__register {
    display: inline-flex;
    justify-content: center;
    width: 48%;
    float: right;
    height: 40px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.1);
    background-color: #b59a56;
    color: white;
    transition-duration: 0.25s;

    &:hover {
        background-color: #ceb16a;
    }
}

.register__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 15px;
        margin-right: 5px;
    }

    span {
        font-weight: 500;
        font-size: 17px;
    }
}