.lend-and-return {
    padding: 25px;
    width: calc(80% - 50px);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lend-and-return__scan {
    width: 48%;
    display: inline-block;
}

.lend-and-return__scan-header {
    font-weight: 600;
    display: block;
    margin-top: 25px;
}

.btn-black {
    background-color: #333333;
}

.lend-and-return__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);

    img {
        width: 20px;
        margin-right: 10px;
    }
}

.status {
    font-weight: 600;
    margin-top: 0;
    display: inline;
}

.status-green {
    color: green;
}

.status-yellow {
    color: #b59a56;
}

.lend-and-return__scanned-book {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;

    .scanned-book__info {
        margin-left: 15px;
    }

    .scanned-book__name {
        color: black;
        display: block;
    }

    .scanned-book__author {
        margin-top: 5px;
    }

    .scanned-book__status {
        font-weight: 500;
        margin-top: 15px;
    }

    img {
        max-width: 150px;
    }
}

.lend-and-return__user-container {
    display: flex;
    margin-top: 15px;
    align-items: flex-start;
}

.lend-and-return__user-photo {
    max-width: 250px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
}

.lend-and-return__user-info {
    display: inline-block;
    margin-left: 15px;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.4;

    span {
        color: #555555;
    }
}

.btn-gold {
    margin-top: 50px;
    background-color: #b59a56;
}

.lend-and-return__barcode {
    display: none;
}

@media screen and (min-width: 1440px) {
    .lend-and-return {
        padding: 50px;
        width: calc(80% - 100px);
    }
}

@media screen and (max-width: 1439px) {

    .lend-and-return__user-info {
        margin-left: 10px;
    }
}

@media screen and (max-width: 965px) {
    .lend-and-return {
        width: calc(100% - 50px);
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    .lend-and-return__button {
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .lend-and-return__scan {
        display: block;
        width: 100%;

        &:first-of-type {
            .lend-and-return__button {
                margin-top: 0;
            }
        }
    }

    .lend-and-return__user-photo {
        max-width: 160px;
        display: block;
    }

    .btn-gold {
        border-radius: 5px;
    }

    .lend-and-return__barcode {
        display: block;

        .homepage__search-bar {
            width: 100%;
        }

        .search-bar__input {
            border-top-left-radius: 0;
        }

        .search-bar__button {
            border-top-right-radius: 0;
        }
    }

    .lend-and-return__button {
        margin-top: 25px;
    }
}

@media screen and (min-width: 768px) and (max-width: 965px) {
    .lend-and-return {
        width: calc(80% - 50px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 965px) and (max-width: 1250px) {
    .lend-and-return__user-container {
        display: block;
    }

    .lend-and-return__user-info {
        display: block;
        margin-left: 0;
        margin-top: 10px;
    }
}