.members {
    &:nth-of-type(1) {
        width: 10%;
    }

    &:nth-of-type(2),
    &:nth-of-type(3) {
        width: 20%;
    }

    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6) {
    width: 10%;
    }

    &:nth-of-type(7) {
        width: 20%;
    }
}

.book-list__triangle {
    -webkit-filter: invert(100%);
    max-width: 7px;
    display: inline-block;
}

.members__container {
    .book-list__book {
        display: block;
    }

    .book-list__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.book-list__book-expand {
    padding: 25px;
    width: calc(100% - 50px);
    height: 100%;
    border-radius: 5px;
    margin-top: 25px;
    display: flex;

    background-color: rgb(235, 235, 235);

    .book-expand__item {
        width: 25%;

        span {
            font-weight: 600;
        }
    }

    .book-expand__book {
        margin-top: 15px;

        .red {
            color: red;
        }

        .green {
            color: green;
        }

        .orange {
            color: orange;
        }

        .book__name {
            font-weight: 600;
            margin-bottom: 5px;
        }

        .book__info {
            font-weight: 600;
            margin-top: 5px;
        }

        .book__author {
            line-height: 1.5;
        }
    }
}