@import 'home.scss';
@import 'book-details.scss';
@import 'header.scss';
@import 'library-hub.scss';
@import 'login.scss';
@import 'user-profile.scss';
@import 'search.scss';
@import 'library-details.scss';
@import 'signup.scss';
@import 'popup.scss';
@import 'add-new-book.scss';